* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f2f2f2;

}

#form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

#form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #F4F5F8;
}

.wejscie {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}


.przyciski {
  display: flex;
  justify-content: center;
}

.bnt_sub,
.bnt_but {
  color: #222429;
  padding: 10px 20px;
  border: 3px solid #FFAA17;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 7px;
}

.bnt_sub:hover {
  background-color: #FFAA17;
}

.bnt_but:hover {
  background-color: #FFAA17;
}

::placeholder {
  color: black;
}

#name, #nazwisko, #email, #nr_tel, #nr_domu, #miasto, #kod, #rok_studow{
  width: 50%;
}
label{
  padding: 10px;
}

.selected-option{
  padding: 10px;
}



#pole_rok, #pole_temat, #pole_nocleg, #pole_termin{
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}
#pole_termin {
  position: relative;
}

#obrazek1 {
  display: none;
  position: absolute;
  /* top: 100px; 
  left: 20px;  */
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-image: url("/src/img/t_pierwszy.png");
  background-size: cover;
  z-index: 9999; 
}

#tekst1:hover + #obrazek1 {
  display: block;
  width: 235px;
  height: 246px;
}

#obrazek2 {
  display: none;
  position: absolute;
  /* top: 100px; 
  left: 120px;  */
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-image: url("/src/img/t_drugi.png");
  background-size: cover;
  z-index: 9999; 
}

#tekst2:hover + #obrazek2 {
  display: block;
  width: 235px;
  height: 246px;
}




#obrazek3 {
  display: none;
  position: absolute;
  /* top: 100px;
  left: 300px;  */
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-image: url("/src/img/t_trzeci.png");
  background-size: cover;
  z-index: 9999;
}

#tekst3:hover + #obrazek3 {
  display: block;
  width: 235px;
  height: 246px;
}


#pole_rok input{
  padding: 0;
}


#pole_temat {
  position: relative;
}

#obrazek_temat1 {
  display: none;
  position: absolute;
  /* top: 100px; 
  left: 20px;  */
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-image: url("/src/img/tekst_pp.png");
  background-size: cover;
  z-index: 9999; 
}

#tekst_temat1:hover + #obrazek_temat1 {
  display: block;
  width: 300px;
  height: 150px;
}

#obrazek_temat2 {
  display: none;
  position: absolute;
  /* top: 100px; 
  left: 120px;  */
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-image: url("/src/img/tekst_bazy.png");
  background-size: cover;
  z-index: 9999; 
}

#tekst_temat2:hover + #obrazek_temat2 {
  display: block;
  width: 300px;
  height: 150px;
}

#obrazek_temat3 {
  display: none;
  position: absolute;
  /* top: 100px; 
  left: 250px;  */
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-image: url("/src/img/tekst_grafika.png");
  background-size: cover;
  z-index: 9999; 
}

#tekst_temat3:hover + #obrazek_temat3 {
  display: block;
  width: 300px;
  height: 150px;
}

#obrazek_temat4 {
  display: none;
  position: absolute;
  /* top: 100px; 
  left: 350px;  */
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-image: url("/src/img/tekst_sieci.png");
  background-size: cover;
  z-index: 9999; 
}

#tekst_temat4:hover + #obrazek_temat4 {
  display: block;
  width: 300px;
  height: 150px;
}


.slider-labels {
  display: flex;
  width: 73%;

}

.slider-labels span {
  flex: 1;

}





.temat-label {
  display: inline-block;
  vertical-align: middle;
  
  /* margin-right: 10px; */
}


